.selButton, .selButton-active, .inputArea, .setAmount {
    display: inline-block;
    width: 40px;
    padding: 12px 0;
    text-align: center;
    user-select: none;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 5px;
}

.selButton:hover, input[type=number]:hover {
    background-color: lightgrey;
}

.selButton-active:hover {
    background-color: rgb(118, 236, 118);;
}

.selButton {
    color: black;
}

.selButton-active {
    background-color: lightgreen;
    color: white;
}

.submitButton, .createSave, .deleteSel, .selectSel {
    display: inline-block;
    width: 92px;
    padding: 12px 0;
    text-align: center;
    user-select: none;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 5px;
    background-color: lightgreen;
}

.submitButton:hover, .createSave:hover, .deleteSel:hover, .selectSel:hover {
    background-color: rgb(118, 236, 118);
}

.submitButton:active, .createSave:active, .deleteSel:active, .selectSel:active {
    background-color: green;
    color: white;
}

.generated, .weighs, .selected, .filtered, .filterSelected {
    width: 19%;
    float: left;
    margin-left: 5px;
}

.filterSelected {
    display: block;
}

.generated, .weighs, .selected, .filtered {
    border-right: 1px solid gray;
}

.row {
    font-family: 'Courier New', Courier, monospace;
}

.filteredList, .generatedList {
    max-height: 730px;
    overflow-y: scroll;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 2px;
}

.save {
    float: left;
}

.createSave {
    width: fit-content;
    padding: 12px;
}

.saveInput {
    padding: 12px;
}

.selection {
    padding: 12px;
    border-radius: 5px;
    display: inline-block;
}

.deleteSel {
    margin-left: 10px;
}

.columns {
    border: 1px solid gray;
    background-color: rgb(181, 181, 181);
    border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
    height: 18.67px;
}